mpg.enable                  false             # set to true to enable the mpg code
mpg.frequency                1000             #

mpg.pilot_pin               1.23              # pilot pin for pilot lamp

mpg.encoder_a_pin           1.30              # encoder pin
mpg.encoder_b_pin           1.31              # encoder pin

mpg.axis_x_pin              0.23!^            # axis pin
mpg.axis_y_pin              0.24!^            # axis pin
mpg.axis_z_pin              0.25!^            # axis pin
mpg.axis_4_pin              0.26!^            # axis pin

mpg.multiplier_1_pin        3.25!^            # multiplier pin
mpg.multiplier_10_pin       3.26!^            # multiplier pin
mpg.multiplier_100_pin      2.11!^            # multiplier pin

mpg.multiplier_1_value          1             # multiplier value
mpg.multiplier_10_value        10             # multiplier value
mpg.multiplier_100_value      100             # multiplier value
