pulsehandle.enable            false             # set to true to enable the pulsehandle code

panel.encoder_a_pin           1.30              # encoder pin
panel.encoder_b_pin           1.31              # encoder pin

panel.axis_x_pin              0.23!^            # axis pin
panel.axis_y_pin              0.24!^            # axis pin
panel.axis_z_pin              0.25!^            # axis pin
panel.axis_4_pin              0.26!^            # axis pin

panel.multiplier_1_pin        3.25!^            # multiplier pin
panel.multiplier_10_pin       3.26!^            # multiplier pin
panel.multiplier_100_pin      2.11!^            # multiplier pin
