pulsehandle.enable                  false             # set to true to enable the pulsehandle code

pulsehandle.pilot_pin               1.23              # pilot pin for pilot lamp

pulsehandle.encoder_a_pin           1.30              # encoder pin
pulsehandle.encoder_b_pin           1.31              # encoder pin

pulsehandle.axis_x_pin              0.23!^            # axis pin
pulsehandle.axis_y_pin              0.24!^            # axis pin
pulsehandle.axis_z_pin              0.25!^            # axis pin
pulsehandle.axis_4_pin              0.26!^            # axis pin

pulsehandle.multiplier_1_pin        3.25!^            # multiplier pin
pulsehandle.multiplier_10_pin       3.26!^            # multiplier pin
pulsehandle.multiplier_100_pin      2.11!^            # multiplier pin
